{% extends 'base.html' %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Pending approval requests for cancelled orders</h1><br>
                <ol>
                {% for i in app_req %}
                    <li><h5>Order ID: {{ i.order_id }}</h5></li>
                    Customer Username: {{ i.user }}<br>
                    Order Amount: Rs {{ i.amount }}/-<br>
                    Ordered on: {{ i.order_date|date:"D, d M Y" }}<br>
                    Order Cancellation Date: {{ i.cancelled_order_date|date:"D, d M Y" }}<br>
                    Refund Amount: ₹ {{ i.refund_amount }}/-<br>
                    <a href="{% url 'orders:approvalrequestdetail' order_id=i.order_id %}">View details</a><br><br>
                {% endfor %}
                </ol>
            </div>
        </div>
    </article>
    
{% endblock %}