{% extends 'base.html' %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Pending approval requests for cancelled orders</h1>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer Username</th>
                            <th>Course Price</th>
                            <th>Total Amount</th>
                            <th>Ordered on</th>
                            <th>Order Cancellation Date</th>
                            <th>Refund Amount</th>
                        </tr>
                    </thead>
                    {% for i in app_req %}
                    <tbody>
                        <tr>
                            <td><a href="{% url 'orders:approvalrequestdetail' order_id=i.order_id %}">{{ i.order_id }}</a></td>
                            <td>{{ i.user }}</td>
                            <td>₹{{ i.amount }}/-</td>
                            <td>₹{{ i.final_amount }}/-</td>
                            <td>{{ i.order_date|date:"D, d M Y" }}</td>
                            <td>{{ i.cancelled_order_date|date:"D, d M Y" }}</td>  
                            <td>₹{{ i.refund_amount }}/-</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </article>
    
{% endblock %}