{% extends 'base.html' %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Approval request for:</h1>
                Order ID: {{ app_req.order_id }}<br>
                Customer: {{ app_req.user }}<br>
                Order Amount: ₹ {{ app_req.amount }}/-<br>
                Order Date: {{ app_req.order_date|date:"D, d M Y" }}<br>
                Cancellation Date: {{ app_req.cancelled_order_date|date:"D, d M Y" }}<br><br>
                
                {% if days == 1 %}
                    Order was cancelled within {{ days }} day.<br>
                {% else %}
                Order was cancelled within {{ days }} days.<br>
                {% endif %}
                
                Refund amount: ₹ {{ app_req.refund_amount }}/-<br>
                <form action="{% url 'orders:approverequest' order_id=app_req.order_id %}" method="POST" >
                    {% csrf_token %}
                    <input class="btn btn-outline-info" type="submit" value="Approve" name="approve"></input>
                    <input class="btn btn-outline-info" type="submit" value="Don't Approve" name="reject"></input>
                </form>
            </div>
        </div>
    </article>
    
{% endblock %}