<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Order Invoice</title>
        <style>
            .headings{
                text-align: center;
            }
            h1{
                font-size: 26px;
            }
            h2{
                font-size: 16px;
            }
        </style>
    </head>

    <body>
        <div class=headings>
            <h1>Upskilling Course Company</h1><br>
            <h2>Order Invoice</h2><br>
        </div>
        <div class=contents>
            <h4>Dear {{ user }}, your order was placed successfully.</h4>
            <h5>Order Details:</h5>
            Order ID: {{ order_id }}<br>
            Customer Name: {{ user }}<br>
            Course Name: {{ course }}<br>
            Ordered on: {{ order_date|date:"D, d M Y" }}<br>
            Order Amount: Rs {{ amount|floatformat:2 }}/-<br>
            GST: Rs {{ gst|floatformat:2 }}/-<br>
            Total Amount: Rs {{ final_amount|floatformat:2 }}/-<br>
            <br>
            Regards<br>
            Upskilling Course Company
        </div>
    </body>
</html>