{% extends 'base.html' %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <form action="{% url 'orders:createorder' product_id=product.product_id %}" method="POST">
                    {% csrf_token %}
                    <h4>Are you sure you want to order this course?</h4><br>
                    <label>{{ product.product_name }}</label><br>
                    <label>By {{ product.product_seller }}</label><br>
                    <label>Price: ₹ {{ product.product_price }}/-</label><br><br>
                    <input class="btn btn-outline-info" type="submit" value="Yes">
                    <a class="btn btn-outline-info" href="{% url 'products:home' %}">No</a>
                </form>
            </div>
        </div>
    </article>

{% endblock %}