{% extends 'base.html' %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <form action="{% url 'orders:createorder' product_id=product.product_id %}" method="POST">
                    {% csrf_token %}
                    <h4>Are you sure you want to buy this course?</h4>
                    <input type="submit" value="Yes">
                </form>
                    <a href="{% url 'products:home' %}">No</a>
            </div>
        </div>
    </article>
    
{% endblock %}