{% extends 'base.html' %}

{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>My Courses</h1><br>
                <ol>
                {% for i in courses %}                                        
                    <li><h5>{{ i.course }}</h5></li>                   
                    Purchased on: {{ i.order_date }}<br>
                    <a href="{% url 'orders:mycoursedetail' order_id=i.order_id %}">View Details</a>                    
                    <br>
                    <br>
                {% endfor %}
                </ol>
            </div>
        </div>
    </article>
    
{% endblock %}