{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <h1>Add your course</h1>
                <form action="{% url 'products:productcreate' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="Add"></input>
                </form>
            </div>
        </div>
    </article>

{% endblock %}